:root{
  --sombre: purple;
  --clair : ivory;
}

.listeitem{
	color : var(--sombre);
}
#titi{
	background-color : var(--clair);
}

li.item:nth-child(2n){
	color : crimson;
}
div.company{
		color : var(--sombre);
		font-family: 'Gugi', cursive;
}
div.title{
	background-color:var(--sombre);
	color: var(--clair);
}
.card {
  background-color: #808080;
  color: #fff;
  border: 10px #222 solid;
  max-width: 200px;
  margin: 0 auto;
  padding: 100px 0;
  font-size: 30px;
}
.collapsed .skills li {
  width: 0 !important;

}
.skills li{
  transition: width 300ms ease-in-out;
}
.skills li p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}
.leaflet-container {
  height: 800px;
  width: 100%;
}
.button {
  display: inline-block;
	font-size: 18px;
	color: #2f70e1;
	padding: 10px 30px;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
  cursor: pointer;
  user-select: none;

}
.toggled {
	background-color: #2f70e1;
	color: #fff;
}
#job h1,#job h2{color: gray;}
