
.icon-attach:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-lock-open:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */